<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <!--<script src="https://raw.githubusercontent.com/admsev/jquery-play-sound/master/jquery.playSound.js"></script>-->
  </head>
  <body onload="init();">
    <h1>Hacksaw</h1>
   Click on 'Start Driving' to get started
     <p>
    <button onclick="startWebcam();">Start Driving</button>
    <!--button onclick="stopWebcam();">Stop WebCam</button> 
       <button onclick="snapshot();">Take Snapshot</button--> 
    </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
  <p>

        Screenshots : <p>
      <canvas  id="myCanvas" width="400" height="310"></canvas>  
  </body>
  <script>
      //--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var counter;
      var webcamStream;
      var emptyFunction = function(){console.log('supposed to have stopped for 30 seconds')};

      function playSound() {
          return $(
                 '<audio class="sound-player" autoplay="autoplay" style="display:none;">'
                   + '<source src="' + arguments[0] + '" />'
                   + '<embed src="' + arguments[0] + '" hidden="true" autostart="true" loop="false"/>'
                 + '</audio>'
               ).appendTo('body');
      }

      function stopSound() {
          $(".sound-player").remove();
      }

      function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },

              // successCallback
              function (localMediaStream) {
                 video = document.querySelector('video');
                 video.src = window.URL.createObjectURL(localMediaStream);
                 webcamStream = localMediaStream;
                 counter = 0;
                 setTimeout(snapshot, 1000);
              },


              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }  
      }
      
      function stopWebcam() {
          try {
            webcamStream.getTracks()[0].stop();
          } catch (exception) {
          }
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
        //var image = canvas.toDataURL("image/png");

      }

      function snapshot() {
         // Draws current imconsole.log(counter)age from the video element into the canvas
        try {

          ctx.drawImage(video, 0,0, canvas.width, canvas.height);
          var image = canvas.toDataURL("image/jpeg");
          $.ajax({
            type: "POST", 
            url: "/upload/",
            data: { img: image ,csrfmiddlewaretoken: '{{ csrf_token }}'}      
          }).done(function(msg){ 
            if (msg == "1") {
              // Good
              stopSound();
              counter = 0;
              console.log(counter);
            } else if (msg == "3") {
              //alert("WAKE UP BETCH");
              // Bad 1 count
              counter += 1;
              console.log(counter);
              if (counter >= 4) {
                //alert("WAKE UP BETCH");
                playSound('http://soundbible.com/grab.php?id=2176&type=mp3');
              }
            } else {
              // Unkown
              //alert("WAKE UP BETCH");
              playSound('http://soundbible.com/grab.php?id=2176&type=mp3');
            }
            //alert(msg);
          });

        } catch (exception) {
          console.log('The exception is ' + exception);
          console.log("ERROR: Video stream not open")
        }
        setTimeout(snapshot, 200 );
      }

  </script>
</html>